---
import ExperienceIcon from "@/icons/ExperienceIcon.astro";
import LinkIcon from "@/icons/LinkIcon.astro";

import { EXPERIENCE_DATA } from "src/scripts/data.js";
---

<h2 class="font-semibold text-xl mb-4">Experiencia</h2>
<ol class="relative border-l border-primary-dark ms-3">
    {
        EXPERIENCE_DATA.map((experience) => (
            <li class="mb-5  ">
                <ExperienceIcon />
                <h3 class="flex items-center font-medium text-lg">
                    {experience.organization}
                    {experience.link && (
                        <a
                            class="px-1"
                            aria-label={experience.organization}
                            href={experience.link}
                        >
                            <LinkIcon />
                        </a>
                    )}
                </h3>
                <time class="block text-sm font-light mt-1 text-accent/80 dark:text-secondary">
                    {experience.date}
                </time>
                <p class="mt-1">{experience.description}</p>
            </li>
        ))
    }
</ol>
