---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostPreview from "@/components/PostPreview.astro";

import { getAllPosts, sortPostsByDate } from "@/scripts/utils";

const allPosts = getAllPosts();

const sortedPosts = sortPostsByDate(allPosts);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <nav class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-5 mb-4">
    {
        sortedPosts.map((post: any) => (
            <PostPreview postUrl={post.url}
                postImage={post.frontmatter.image},
                postTitle={post.frontmatter.title},
                postDescription={post.frontmatter.description},
                postPubDate={post.frontmatter.pubDate},
                postTags={post.frontmatter.tags},
                postCategories={post.frontmatter.categories},
            />
        ))
    }
    </nav>
</BaseLayout>
