---
import CategoryIcon from "@/icons/CategoryIcon.astro"
import DateIcon from "@/icons/DateIcon.astro"

import { getFormatedDate } from "@/scripts/utils"

const { postUrl, postImage, postTitle, postPubDate, postCategories } =
    Astro.props

const newPostPubDate = getFormatedDate(postPubDate)
const plainPubDate: any = getFormatedDate(postPubDate, "plain")
---

<a
    href={postUrl}
    class="flex flex-col bg-secondary/10 dark:bg-secondary/5 shadow-2xl dark:hover:bg-secondary-dark/20 hover:bg-secondary/80 max-h-[27rem] p-4 rounded-lg cursor-pointer gap-2 not-prose"
>
    <img
        class="w-full h-auto object-cover aspect-[16/9] rounded-md"
        src={postImage.path}
        alt={postImage.alt}
        transition:name=`post-image-${postTitle}`
    />

    <article class="flex flex-col">
        <h2 class="text-2xl" transition:name=`post-title-${postTitle}`>
            {postTitle}
        </h2>
        <section class="flex flex-row justify-between gap-x-2 text-xs mt-4">
            <p
                class="flex flew-row gap-x-1 justify-center items-center mb-2 text-accent/60 dark:text-secondary"
            >
                <CategoryIcon />
                {postCategories.join(", ")}
            </p>
            <time
                class="flex flew-row gap-x-1 justify-center items-center mb-2 text-primary-dark/70 dark:text-primary"
                datetime={plainPubDate}
                transition:name=`post-pubdate-${postTitle}`
            >
                <DateIcon />
                {newPostPubDate}
            </time>
        </section>
    </article>
</a>
