---
import ExperienceIcon from "@/icons/ExperienceIcon.astro";
import FocusPill from "@/components/web/FocusPill.astro";
import LinkIcon from "@/icons/LinkIcon.astro";

import { EXPERIENCE_ITEMS } from "@/utils/data.js";
---

<h2 class="font-semibold text-violet-200 text-2xl mb-8">Experiencia</h2>
<ol class="relative border-l border-gray-700">
    {
        EXPERIENCE_ITEMS.map((experienceItem) => (
            <li class="mb-10 ms-6 px-2">
                <ExperienceIcon />
                <h3 class="flex items-center mb-1 text-lg font-semibold text-white">
                    {experienceItem.organization}
                    {experienceItem.link && (
                        <a
                            class="px-1"
                            aria-label={experienceItem.organization}
                            href={experienceItem.link}
                        >
                            <LinkIcon />
                        </a>
                    )}
                    {experienceItem.focus && (
                        <FocusPill textContent={experienceItem.focus} />
                    )}
                </h3>
                <time class="block mb-2 text-sm font-normal leading-none text-violet-200">
                    {experienceItem.date}
                </time>
                <p class="prose prose-invert">{experienceItem.description}</p>
            </li>
        ))
    }
</ol>
